@import '@/assets/style/style.scss';

.book {
  .paragraph-list,
  .paragraph-title-list {
    @include lg {
      height: calc(100vh - 100px);
    }
  }

  .paragraph-list {
    @include sm-md {
      height: auto;
    }

    @include lg {
      overflow-y: auto;
    }

    .paragraph-section {
      box-shadow: grey 0 0 10px;
      max-width: 800px;

      @include sm-md {
        padding: 20px;
        margin: 10px 0;
        width: 95vw;
        font-size: 80%;
      }

      @include lg {
        padding: 50px;
        margin: 20px 50px;
        width: 85%;
      }

      .paragraph {
        padding: 10px;
        text-align: justify;
      }
    }
  }

  .paragraph-title-list {
    overflow-y: auto;
    
    &:first-of-type {
      background-color: white;
    }

    @include sm-md {
      height: 100vh;
      padding-bottom: 100px;
      display: flex;
      position: fixed;
      z-index: 3;
      transition: transform 0.3s ease;
      width: 70%;

      &.mob-hide {
        transform: translateX(-100%);
      }

      &.mob-show {
        transform: translateX(0);
        box-shadow: grey 0 0 10px;
      }
    }

    @include lg {
      min-width: 300px;
      box-shadow: grey 0 5px 10px;
      display: flex;
      width: 25%;
    }

    .position-sticky {
      background-color: white;
      box-shadow: grey 0 0 10px;
    }
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid $secondary;
    border-top-color: $primary; /* Blue top */
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    margin: 50px auto; /* Center horizontally */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.list-button {
  top: 50dvh;
  left: 0;
  background-color: white;
  color: $primary;
  border: none;
  font-size: 26px;
  width: 40px;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: black 0 0 10px;
}

