@import '@/assets/style/style.scss';

.book {
  .paragraph-list,
  .paragraph-title-list {
    overflow-y: auto;

    @include lg {
      height: calc(100vh - 100px);
    }

    @include sm-md {
      height: 100vh;
    }
  }

  .paragraph-list {
    .paragraph-section {
      box-shadow: grey 0 0 10px;
      max-width: 800px;

      @include sm-md {
        padding: 10px 30px 10px 10px;
        margin: 10px 0;
        width: 95vw;
        font-size: 80%;
      }

      @include lg {
        padding: 50px;
        margin: 20px 50px;
        width: 85%;
      }

      .paragraph {
        padding: 10px;
        text-align: justify;
        position: relative;
        
        &:hover .fa-share-from-square {
          display: block;
        }
        
        .fa-share-from-square {
          font-size: 20px;
          position: absolute;
          bottom: 0;
          display: none;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
        }
      }
    }
  }

  .paragraph-title-list {
    @include sm-md {
      padding-bottom: 100px;
      display: flex;
      position: fixed;
      z-index: 3;
      transition: transform 0.3s ease;
      width: 70%;

      &.mob-hide {
        transform: translateX(100vw);
      }

      &.mob-show {
        transform: translateX(calc(100vw - 100%));
        box-shadow: grey 0 0 10px;
        background-color: white;
      }
    }

    @include lg {
      min-width: 300px;
      box-shadow: grey 0 5px 10px;
      display: flex;
      width: 25%;
    }

    .position-sticky {
      background-color: white;
      box-shadow: grey 0 0 10px;
    }
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid $secondary;
    border-top-color: $primary; /* Blue top */
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    margin: 50px auto; /* Center horizontally */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}