@import '@/assets/css/style.scss';

.book {
  .paragraph-list,
  .paragraph-title-list {
    @include md-lg {
      height: calc(100vh - 100px);
    }
  }

  .paragraph-list {
    @include sm {
      height: auto;
    }

    @include md-lg {
      overflow-y: auto;
    }

    .paragraph-section {
      box-shadow: grey 0 0 10px;
      padding: 50px;
      max-width: 800px;

      @include sm {
        margin: 20px 0;
        width: 95vw;
      }

      @include md-lg {
        margin: 20px 50px;
        width: 85%;
      }

      .paragraph {
        padding: 10px;
      }
    }
  }

  .paragraph-title-list {
    overflow-y: auto;
    width: 25%;
    
    &:first-of-type {
      background-color: white;
    }

    @include sm {
      height: 100vh;
      padding-bottom: 100px;
    }

    @include md-lg {
      min-width: 300px;
      box-shadow: grey 0 5px 10px;
    }

    .position-sticky {
      background-color: white;
      box-shadow: grey 0 0 10px;
    }
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid $theme-color-secondary;
    border-top-color: $theme-color-primary; /* Blue top */
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    margin: 50px auto; /* Center horizontally */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.list-button {
  bottom: 76px;
}

