<div>
    <div class="book d-flex">
        <div class="paragraph-title-list" style="width: 25%;">
            <h4 class="p-2 position-sticky top-0 z-3 mb-0">{{ book.title }}</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action"
                   v-for="(chapter, chapterId) in book.chapters"
                   :class="chapter.activeFlag ? 'active' : ''"
                   @click="scrollToSection(chapterId)" >
                    {{ chapter.title || (chapterId === 0 ? 'Cover' : '-- No title --') }}
                </li>
            </ul>
        </div>
        <div class="paragraph-list flex-fill d-flex flex-column align-items-center">
            <div v-for="(chapter, chapterId) in book.chapters" :id="chapterId" class="paragraph-section" style="width: 85%;">
                <div class="paragraph" v-for="paragraph in chapter.paragraphs">
                    <div v-html="paragraph.text" :class="paragraph.class"></div>
                </div>
            </div>
        </div>
    </div>
</div>
