@charset "UTF-8";
.book .paragraph-list {
  font-size: 62.5%;

  h2 {
    font-weight: 700;
    margin: 0 0 15px;
    padding: 4px
  }

  h3, p {
    margin: 15px 0
  }

  ul, ol {
    padding-left: 40px;
    margin: 15px 0
  }

  li ul {
    margin: 0
  }

  body {
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-size: 1em;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #fafafa;
    min-width: 736px;
    min-height: 300px
  }

  #build-number {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Arial", "Sans-serif";
    font-size: 1em;
    color: #666;
    padding: 2px;
    z-index: 50
  }

  #panel-buttons-container {
    position: absolute
  }

  #open-north, #open-west, #open-south, #close-north, #close-west, #close-south {
    position: absolute;
    display: none;
    z-index: 100
  }

  #open-north, #close-north {
    top: 0;
    left: 50%;
    margin-left: -36px
  }

  #open-west, #close-west {
    left: 0;
    top: 50%;
    margin-top: -36px
  }

  #open-south, #close-south {
    bottom: 0;
    left: 50%;
    margin-left: -36px
  }

  #header-container {
    background-color: #e9ecef
  }

  #header {
    float: left;
    width: 100%;
    padding-top: 8px;
    background-color: #e9ecef
  }

  #header-search-navigation-bar {
    width: 1010px;
    position: relative;
    height: 61px;
    margin: 0 auto 8px;
    padding: 0 12px
  }

  #header-logo {
    float: left;
    margin-top: 2px
  }

  #header-logo a span, #search-logo-dark {
    width: 56px;
    max-width: 56px;
    height: 61px;
    line-height: 61px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: -560px -0
  }

  #header-logo:hover a span, #search-logo-dark {
    background-repeat: no-repeat;
    background-position: -560px -70px
  }

  #search-form-header-navigation {
    float: left;
    margin-left: 20px
  }

  #search-form {
    float: left
  }

  #search-form-items {
    position: relative;
    margin-top: 12px;
    margin-right: 20px;
    float: left
  }

  #search-text-button {
    position: relative;
    width: 250px;
    margin-top: 3px;
    height: 28px;
    float: left
  }

  #search-text {
    width: 242px;
    height: 26px;
    vertical-align: middle;
    line-height: 26px;
    font-size: 1.6em;
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    padding-left: 8px;
    margin: 0;
    border: 1px #ccc solid;
    float: left;
    background-color: #fafafa
  }

  #search-icon {
    position: absolute;
    top: 4px;
    right: 2px
  }

  #search-icon .button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  #search-list-wrap {
    display: none;
    width: 250px;
    margin: 30px 0 0
  }

  #search-list {
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 250px;
    height: 120px;
    overflow-y: auto;
    overflow-y: -moz-auto-vertical;
    -webkit-overflow-scrolling: touch;
    background-color: #fafafa;
    border: 1px #ccc solid
  }

  #search-list li {
    display: block;
    width: 233px;
    overflow: hidden
  }

  #search-list li a {
    font-size: 1.6em;
    display: block;
    height: 20px;
    color: #000111;
    text-decoration: none;
    padding: 5px 5px 5px 8px
  }

  #search-list li a.highlight {
    background-color: #bde5f0
  }

  #search-preloader {
    width: 26px;
    max-width: 26px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    top: 16px;
    right: 0;
    overflow: hidden;
    z-index: 50;
    background-repeat: no-repeat;
    display: none
  }

  #header-navigation {
    float: left;
    padding: 0;
    margin-top: 11px;
    margin-left: 5px;
    line-height: 2.2em;
    font-size: 1.6em;
    color: #000111;
    overflow: visible;
    z-index: 20
  }

  #header-navigation #book-selector, #header-navigation #video-selector, #header-navigation #chapter-selector, #header-navigation #font-size-selector, #header-navigation #settings-selector, #header-navigation #language-selector, #header-tab-navigation-container #tab-info {
    position: absolute;
    list-style-type: none;
    width: 400px;
    height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #d0d0d0;
    background: #fafafa;
    padding: 0;
    margin: 0;
    top: 61px;
    z-index: 20;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1)
  }

  #header-navigation #book-selector {
    margin-left: -160px
  }

  #header-navigation #video-selector {
    margin-left: -90px
  }

  #header-navigation #chapter-selector {
    margin-left: -20px
  }

  #header-navigation #font-size-selector {
    width: 185px;
    height: 164px;
    margin-left: 340px;
    padding-top: 4px
  }

  #header-navigation #settings-selector {
    width: 150px;
    height: 185px;
    margin-left: 440px;
    padding-top: 4px
  }

  #header-navigation #language-selector {
    width: 260px;
    height: 290px;
    margin-left: 450px;
    padding-top: 4px
  }

  #header-tab-navigation-container #tab-info {
    width: 90%;
    height: 100px;
    left: 4px;
    top: 126px;
    padding: 4px 8px;
    white-space: normal;
    color: #000111
  }

  #header-navigation #book-selector li, #header-navigation #video-selector li, #header-navigation #chapter-selector li, #header-navigation #font-size-selector li, #header-navigation #settings-selector li, #language-selector li {
    background: #fafafa;
    padding: 0 12px;
    list-style-type: none
  }

  #header-navigation #book-selector li ul, #header-navigation #video-selector li ul {
    padding-left: 0
  }

  #header-navigation #book-selector li span, #header-navigation #book-selector li ul li a, #header-navigation #video-selector li span, #header-navigation #video-selector li ul li a, #header-navigation #chapter-selector li a, #header-navigation #font-size-selector li a, #header-navigation #settings-selector li a, #language-selector li a {
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1.8em;
    font-size: .9em;
    display: block;
    padding: 0 12px;
    text-decoration: none;
    color: #000111;
    background: #fafafa
  }

  #language-selector.non-index {
    width: 200px;
    height: 390px;
    margin: 0 auto;
    z-index: 5
  }

  #language-selector li a .lang_code {
    float: right
  }

  #header-navigation #book-selector li ul li, #header-navigation #video-selector li ul li {
    font-size: .9em
  }

  #header-navigation #book-selector li span:hover, #header-navigation #book-selector li ul li a:hover, #header-navigation #video-selector li span:hover, #header-navigation #video-selector li ul li a:hover, #header-navigation #chapter-selector li a:hover, #header-navigation #font-size-selector li a:hover, #header-navigation #settings-selector li a:hover, #language-selector li a:hover {
    background: #bde5f0;
    cursor: pointer
  }

  #header-navigation #book-selector li span:visited, #header-navigation #book-selector li ul li a:visited, #header-navigation #video-selector li span:visited, #header-navigation #video-selector li ul li a:visited, #header-navigation #chapter-selector li a:visited, #header-navigation #font-size-selector li a:visited, #header-navigation #settings-selector li a:visited, #language-selector li a:visited {
    color: #000111
  }

  #header-navigation #book-selector li span.item-selected, #header-navigation #book-selector li ul li a.item-selected, #header-navigation #video-selector li span.item-selected, #header-navigation #video-selector li ul li a.item-selected, #header-navigation #chapter-selector li a.item-selected, #language-selector li a.item-selected {
    background-color: #ebeef0
  }

  #header-navigation #book-selector li ul li a.chapter-numbered, #header-navigation #video-selector li ul li a.chapter-numbered, #header-navigation #chapter-selector li a.chapter-numbered {
    padding-left: 24px
  }

  #header-info-container {
    width: 100%;
    height: 27px;
    background-color: #e8f6fa;
    border-top: 1px solid #bbb
  }

  #header-info-container .button {
    margin-top: 1px;
    line-height: 23px;
    height: 23px
  }

  #header-info-container span.icon {
    line-height: 23px;
    height: 23px
  }

  #header-info, #header-tab-navigation-container {
    height: 27px;
    font-size: 1.4em;
    margin: 0;
    padding-left: 20px;
    color: #8f8f8f;
    white-space: nowrap;
    overflow: hidden
  }

  #header-info-text {
    margin: 2px 0 0
  }

  #header-tab-navigation-container {
    display: none;
    padding-left: 0;
    width: 288px;
    margin: 1px 0 0
  }

  #header-videos-info {
    position: absolute;
    font-size: 1.4em;
    top: 77px;
    right: 0;
    display: none;
    width: 150px;
    text-align: center;
    border: 1px solid #4a4;
    background: #cec;
    height: 27px;
    padding: 0;
    margin: 0
  }

  #index-top-container {
    position: absolute;
    top: 0;
    bottom: 150px;
    left: 0;
    right: 0
  }

  #index-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background-color: #bde5f0
  }

  #index-top-content {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 416px;
    height: 250px;
    margin: 0 auto;
    margin-top: -125px;
    margin-left: -208px
  }

  #index-main-logo {
    margin: 0 auto 24px;
    width: 302px;
    max-width: 302px;
    height: 204px;
    line-height: 204px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0 0
  }

  #index-main-logo-alternative {
    margin: 0 auto 24px;
    overflow: hidden
  }

  #index-search-text-button {
    width: 416px;
    height: 28px;
    float: left
  }

  #index-top-content #search-form {
    height: 28px;
    padding: 0;
    margin: 0 auto
  }

  #index-top-content #search-text-button {
    position: relative;
    width: 100%
  }

  #index-top-content #search-text {
    width: 408px
  }

  #index-top-content #search-list-wrap {
    width: 100%
  }

  #index-top-content #search-list {
    width: 100%
  }

  #index-top-content #search-list li {
    width: 399px
  }

  #index-digital-library-title {
    margin: .5em 0 .6em;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: #666
  }

  #author-book-list, #author-video-list {
    position: absolute;
    top: 50px;
    width: 380px;
    height: 230px;
    left: 18px;
    z-index: 5
  }

  #author-book-list {
    left: -70px
  }

  #author-book-list-preferences, #author-video-list-preferences {
    font-size: .55em;
    width: 380px;
    height: 230px;
    margin: 0 auto;
    z-index: 5
  }

  #author-book-selector, #author-video-selector, #language-selector.index {
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #d0d0d0;
    background: #fafafa;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    text-align: left;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1)
  }

  #author-book-selector li, #author-video-selector li {
    background: #fafafa;
    padding: 0 12px;
    font-size: 1.3em
  }

  #author-book-selector li span, #author-video-selector li span {
    padding-left: 4px
  }

  #author-book-selector li span:hover, #author-video-selector li span:hover {
    cursor: pointer;
    text-decoration: underline
  }

  #author-book-selector li ul, #author-video-selector li ul {
    padding-left: 12px
  }

  #author-book-selector li ul li, #author-video-selector li ul li {
    background: #fafafa;
    padding: 0;
    font-size: 1em;
    list-style-type: none
  }

  #author-book-selector li a, #author-video-selector li a, #author-book-selector li ul li a, #author-video-selector li ul li a {
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline;
    padding-left: 4px;
    margin: 0;
    text-decoration: none;
    color: #000111;
    background: #fafafa
  }

  #author-book-selector li a:hover, #author-video-selector li a:hover, #author-book-selector li ul li a:hover, #author-video-selector li ul li a:hover {
    cursor: pointer;
    text-decoration: underline
  }

  #author-book-selector li a:visited, #author-video-selector li a:visited, #author-book-selector li ul li a:visited, #author-video-selector li ul li a:visited {
    color: #000111
  }

  #language-selector.index {
    position: absolute;
    top: 50px;
    width: 220px;
    height: 230px;
    left: 190px;
    z-index: 5
  }

  #language-selector.index li a {
    font-size: 1.2em
  }

  #index-bottom-container {
    position: absolute;
    overflow: hidden;
    bottom: 3%;
    left: 0;
    right: 0;
    height: 5em;
    z-index: 1
  }

  #index-bottom-content {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 1.3em;
    color: #000111
  }

  a.index-link {
    text-decoration: none;
    color: #000111
  }

  a.index-link:hover {
    text-decoration: underline
  }

  #search-result-items-container {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 350px;
    min-width: 150px;
    max-width: 100em;
    list-style: none;
    font-size: 1em;
    border-right: 1px #ccc solid;
    background-color: #fafafa
  }

  #search-result-video-items-container {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 300px;
    min-width: 100px;
    max-width: 300em;
    list-style: none;
    font-size: 1em;
    background-color: #fafafa
  }

  #search-result-video-items {
    display: none
  }

  div.search-result-book-heading, div.search-result-chapter-heading {
    width: 100%;
    font-size: 1.8em;
    font-weight: 700;
    background-color: #e0e0e0;
    overflow: hidden
  }

  div.search-result-book-heading {
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    line-height: 1.6em;
    height: 1.6em;
    border-top: 1px #ddd solid
  }

  div.search-result-chapter-heading {
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-style: italic;
    font-size: 1.6em;
    line-height: 1.4em;
    height: 1.4em;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    background-color: #eaeaea
  }

  div.search-result-book-heading a, div.search-result-chapter-heading a {
    display: block;
    padding-left: 4px;
    text-decoration: none;
    color: #000111
  }

  div.search-result-book-heading a:hover, div.search-result-chapter-heading a:hover {
    background: #bde5f0;
    color: #000111
  }

  #search-result-items ul.one-line, #search-result-items ul.multi-line, #search-result-video-items ul.one-line, #search-result-video-items ul.multi-line {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none
  }

  #search-result-items ul.one-line li, #search-result-items ul.multi-line li, #search-result-video-items ul.one-line li, #search-result-video-items ul.multi-line li {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: 1.6em;
    padding: 0
  }

  #search-result-items ul.multi-line li, #search-result-video-items ul.multi-line li {
    line-height: 6em;
    height: 6em;
    border-bottom: 1px solid #ccc
  }

  #search-result-items ul.one-line li .cover, #search-result-video-items ul.one-line li .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
    z-index: 10
  }

  #search-result-items ul.multi-line li .cover, #search-result-video-items ul.multi-line li .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    z-index: 10
  }

  #search-result-items ul.one-line li a, #search-result-items ul.one-line li a:link, #search-result-items ul.one-line li a:visited, #search-result-video-items ul.one-line li a, #search-result-video-items ul.one-line li a:link, #search-result-video-items ul.one-line li a:visited {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    display: block;
    color: #000111;
    height: 1.6em;
    line-height: 1.6em;
    padding: 1px 8px;
    z-index: 5
  }

  #search-result-items ul.one-line li a.load-all, #search-result-video-items ul.one-line li a.load-all {
    text-align: center;
    line-height: 3.2em;
    height: 3.2em
  }

  #search-result-items ul.multi-line li a, #search-result-items ul.multi-line li a:link, #search-result-items ul.multi-line li a:visited, #search-result-video-items ul.multi-line li a, #search-result-video-items ul.multi-line li a:link, #search-result-video-items ul.multi-line li a:visited {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    line-height: 1.4em;
    text-decoration: none;
    color: #000111;
    padding: .4em 8px;
    z-index: 5
  }

  #search-result-items ul.multi-line li a.load-all, #search-result-video-items ul.multi-line li a.load-all {
    text-align: center;
    line-height: 5em
  }

  div.chosen-search-result-item, li.chosen-search-result-item {
    background: #ebeef0
  }

  #search-result-items div.cover:hover, #search-result-video-items div.cover:hover {
    cursor: pointer
  }

  #WzTtDiV {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1)
  }

  span.tt_chapter {
    font-size: .8em;
    padding-left: 20px
  }

  span.tt_author {
    font-size: .8em;
    padding-bottom: 8px
  }

  span.tt_icon {
    position: absolute;
    top: 0;
    right: 0
  }

  #search-result-book-text-container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    font-size: 1em;
    background-color: #fafafa
  }

  #search-result-book-text-wrapper {
    padding: 16px 0;
    font-size: 1em
  }

  #search-result-book-text {
    margin: 0 auto;
    font-size: 10px;
    width: 610px
  }

  #search-result-book-text ::selection, #search-result-book-text ::-moz-selection, #search-result-book-text ::-webkit-selection {
    background: #bde5f0
  }

  #search-result-book-text #load-before-book-text-button, #search-result-book-text #load-after-book-text-button {
    font-size: 1.5em;
    padding: .3em 0;
    height: 1.5em;
    line-height: 1.5em;
    margin-bottom: 2em;
    display: block;
    clear: both
  }

  #search-result-book-text #load-before-book-text-button a, #search-result-book-text #load-before-book-text-button a:link, #search-result-book-text #load-before-book-text-button a:visited, #search-result-book-text #load-after-book-text-button a, #search-result-book-text #load-after-book-text-button a:link, #search-result-book-text #load-after-book-text-button a:visited {
    color: #000111;
    text-decoration: none
  }

  #search-result-book-text #load-before-book-text-button a:hover, #search-result-book-text #load-before-book-text-button a:focus, #search-result-book-text #load-before-book-text-button a:active, #search-result-book-text #load-after-book-text-button a:hover, #search-result-book-text #load-after-book-text-button a:focus, #search-result-book-text #load-after-book-text-button a:active {
    color: #000111;
    text-decoration: none
  }

  #search-result-book-text div {
    position: relative
  }

  #search-result-book-text div.chapter-buttons {
    width: 200px;
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 24px 0
  }

  #search-result-book-text div.chapter-buttons:before, #search-result-book-text div.chapter-buttons:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden
  }

  #search-result-book-text div.chapter-buttons:after {
    clear: both
  }

  #search-result-book-text a {
    text-decoration: none
  }

  #search-result-book-text div.action-link {
    position: absolute;
    top: 0;
    left: -6em;
    color: #444;
    text-align: left;
    background: #eee;
    border: 1px solid #444;
    border-radius: 2px;
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif
  }

  #search-result-book-text div.action-link:hover {
    color: #222;
    border: 1px solid #222;
    background: #ddd;
    cursor: pointer
  }

  #search-result-book-text div.action-link ul {
    padding: 0;
    margin: 0;
    list-style: none
  }

  #search-result-book-text div.action-link ul:after {
    content: "";
    clear: both;
    display: block
  }

  #search-result-book-text div.action-link ul li {
    display: block;
    padding: 2px 8px
  }

  #search-result-book-text div.action-link ul li a {
    display: block
  }

  #search-result-book-text div.action-link ul li:hover > a {
    color: #222;
    background: #ccc;
    text-decoration: none
  }

  #search-result-book-text div.action-link ul li:hover > ul {
    display: block
  }

  #search-result-book-text div.action-link ul li ul {
    position: absolute;
    left: 0;
    top: 90%;
    display: none;
    background: #eee;
    border: 1px solid #222;
    border-radius: 2px;
    padding: .5em 0;
    margin: 0;
    z-index: 100
  }

  #search-result-book-text div.action-link ul li ul li {
    padding: 0
  }

  #search-result-book-text div.action-link ul li ul li:hover > a {
    text-decoration: none
  }

  #search-result-book-text div.action-link ul li ul li a {
    display: block;
    line-height: 1.6em;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    width: 20rem;
    padding: 0 1em;
    color: #444
  }

  #search-result-book-text div.action-link ul li ul li a:hover {
    text-decoration: none
  }

  #search-result-book-text div.action-link ul li ul li div.divider {
    border-bottom: 1px solid #444;
    margin: .5em 0
  }

  #search-result-book-text #action-link-data-container {
    position: absolute;
    top: 0;
    left: -12em;
    color: #444;
    z-index: 200
  }

  #search-result-book-text.video-book a {
    text-decoration: none;
    cursor: pointer;
    color: #000111
  }

  #search-result-video-player-container {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: -150px;
    margin-left: -250px;
    background: #000;
    border: 1px #ccc solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    z-index: 1000
  }

  #ytapiplayer {
    margin: 0 auto
  }

  .pp_desc_1 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    margin-bottom: 4px
  }

  .pp_desc_2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-weight: 400
  }

  span.found-sentence {
    background: #ddd
  }

  h1.search-failure {
    color: red;
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 8px;
    text-align: center
  }

  span.no_highlight {
    background: #fafafa
  }

  #page-content {
    width: 640px;
    min-height: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    color: #000111;
    font-size: 1.8em;
    line-height: 1.5
  }

  #page-content em {
    font-style: italic
  }

  #page-content h1 {
    color: #000111;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 36px;
    text-align: center
  }

  #page-content h2 {
    color: #000111;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 18px
  }

  #page-content h3 {
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-weight: 700;
    font-size: 1.2em
  }

  #page-content p.verse {
    padding: 5px 15px;
    font-weight: 700
  }

  #page-content span.verse-reference {
    font-weight: 400;
    padding: 0 25px 5px;
    font-style: italic
  }

  #page-content .emphasize {
    padding: 2px;
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-weight: 700;
    background: #e0e0e0;
    border: 1px solid #666
  }

  #page-content table {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse
  }

  #page-content table tr {
    border-bottom: 1px solid #ccc
  }

  #page-content table th, #page-content table td {
    padding: 4px;
    vertical-align: top
  }

  #page-content table th.firstCol, #page-content table td.firstCol {
    width: 220px;
    background: #f4f4f4;
    border-right: 1px solid #d0d0d0
  }

  #page-content table thead th {
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-weight: 700;
    font-size: .9em;
    text-align: center
  }

  #page-content table caption {
    text-align: left;
    font-weight: 700;
    padding: 24px 0 8px
  }

  #page-content form {
    padding: 0;
    margin: 0
  }

  #page-content a, #page-content a:hover, #page-content a:visited {
    color: #000111
  }

  #page-content .settings-message-container {
    float: right;
    margin-right: 130px;
    border: none
  }

  #page-content .settings-message {
    width: 120px;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    color: #040;
    padding: 8px 20px;
    margin-top: -8px;
    background: #e0ffe0;
    border: 1px solid #0c0
  }

  #contact-us-form table, #contact-us-form tr, #contact-us-form td {
    border: none;
    border-collapse: separate
  }

  #contact-us-form input, #contact-us-form textarea {
    padding: 5px;
    border: 1px #ccc solid;
    font-family: "PalatinoLTStd", "Arial", "Sans-serif"
  }

  #contact-us-form input#contact-us-name, #contact-us-form input#contact-us-email {
    width: 90%
  }

  #contact-us-form textarea#contact-us-message {
    width: 90%;
    height: 300px
  }

  #tab-navigation-container {
    width: 550px;
    margin: 0 auto
  }

  ul.tab-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left
  }

  ul.tab-navigation li {
    display: inline
  }

  ul.tab-navigation li a {
    background-color: #f4f9fb;
    color: #000111;
    text-decoration: none
  }

  ul.tab-navigation li a.selected, ul.tab-navigation li a:hover {
    background-color: #fff
  }

  ul.tab-navigation li a:focus {
    outline: 0
  }

  div.tabs > div {
    clear: both;
    padding: 10px;
    display: none
  }

  div.tabs > div h2 {
    margin-top: 0
  }

  div.tabs .tab {
    padding: 24px 0
  }

  #page-content #preferences-data {
    padding: 0;
    font-size: .8em;
    border: 1px solid #b0b0ff;
    border-bottom: none;
    width: 640px;
    margin: 0 auto
  }

  #page-content #preferences-data .preferences-row {
    border-bottom: 1px solid #b0b0ff;
    clear: both
  }

  #page-content #preferences-data .preferences-title {
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-weight: 700;
    font-size: 1em;
    text-align: left;
    width: 270px;
    line-height: 30px;
    padding-left: 12px;
    float: left;
    white-space: nowrap
  }

  #page-content #preferences-data .preferences-options {
    float: right
  }

  #page-content #preferences-data .preferences-item {
    width: 160px;
    height: 30px;
    float: left;
    line-height: 2em;
    padding: 0;
    vertical-align: middle;
    border-left: 1px solid #b0b0ff;
    background-color: #e8f6fa;
    white-space: nowrap
  }

  #page-content #preferences-data .preferences-item:hover {
    background-color: #bde5f0;
    cursor: pointer
  }

  #page-content #preferences-data .preferences-item-checked {
    background-color: #ebeef0
  }

  #page-content #preferences-data .preferences-item label {
    padding-left: 12px;
    height: 30px;
    line-height: 2em;
    cursor: pointer
  }

  #page-content #preferences-data .preferences-item input {
    padding: 0;
    vertical-align: -1px;
    margin-right: 12px
  }

  .button-preferences-apply {
    float: right;
    margin: 0
  }

  #page-content .button {
    padding: 0 8px;
    width: 60px
  }

  #search-history {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style-position: outside
  }

  #search-history li {
    line-height: 2em;
    padding-left: 8px
  }

  #search-history li:hover {
    background: #c6dfeb;
    color: #000111;
    cursor: pointer
  }

  #search-history li:hover a {
    color: #000111
  }

  #search-history li a {
    text-decoration: none;
    display: block;
    color: #000111
  }

  #search-history li a:visited {
    color: #000111
  }

  #footer {
    width: 728px;
    height: 75px;
    font-size: 1.3em;
    color: #000111;
    padding: 0 0 0 8px;
    margin: 0 auto;
    background-color: #fafafa
  }

  #footer-result-links {
    position: absolute;
    left: 0;
    height: 100%;
    display: block
  }

  #footer-right-side {
    position: relative;
    float: right;
    height: 100%
  }

  #footer-right-side-container {
    position: absolute;
    top: 8px;
    bottom: 8px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }

  #footer-right-side-content {
    position: relative;
    padding: 0 24px 0 0;
    margin: 0 auto;
    font-size: .7em;
    line-height: .8em
  }

  #footer-right-side-content .reference-name {
    font-style: italic
  }

  #time-container {
    display: inline;
    height: 40px;
    line-height: 2.8em;
    margin-right: 8px
  }

  #paging {
    height: 24px;
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    font-size: .9em;
    padding: 3px 6px;
    margin: 0;
    background-color: #fafafa;
    border: 1px #aaa solid;
    cursor: pointer
  }

  #paging option {
    padding: 2px 4px
  }

  .nadia {
    font-family: "Nadia", serif
  }

  #scsmath-logo {
    width: 144px;
    margin: 12px auto
  }

  #scsmath-logo a span {
    width: 144px;
    max-width: 144px;
    height: 90px;
    line-height: 90px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: -630px 0
  }

  .gd-button {
    width: 100px;
    height: 2.8rem;
    font-size: 1.4rem;
    font-family: "PalatinoLTStd", "Arial", "Sans-serif";
    margin: 0 0 0 20px;
    padding: 0;
    border: 1px #aaa solid;
    background-color: #fafafa;
    cursor: pointer;
    vertical-align: middle;
    background: #2f5bd7;
    border: 1px solid #4f7bb7;
    color: #000111;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
  }

  .gd-button:hover {
    background-color: #1F4BB7
  }

  img.left-aligned {
    float: left;
    padding: 5px;
    margin: 0 20px 20px 0
  }

  .clear {
    clear: both;
    height: 0;
    visibility: hidden;
    display: block
  }

  span.no-hover, span.no-hover:hover, span.no-hover:active {
    font-style: normal;
    background: none;
    color: #444;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default
  }

  .buttons:before, .buttons:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden
  }

  .buttons:after {
    clear: both
  }

  .buttons {
    zoom: 1
  }

  button, .button {
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    font: bold 1.2rem PalatinoLTStd, Arial, Sans-serif;
    color: #4f6a84;
    line-height: 35px;
    height: 35px;
    width: 36px;
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 0;
    padding: 0 17px;
    border: 1px solid #b1b6ba;
    background-color: #f4f9fb
  }

  .button-small {
    width: 35px;
    max-width: 35px
  }

  .button-eye {
    width: 24px;
    max-width: 24px;
    line-height: 22px;
    height: 22px;
    padding: 0;
    border: none;
    background-color: #fafafa
  }

  .button-inside-wider {
    width: 64px;
    line-height: 35px;
    height: 35px
  }

  .button-vertical {
    padding: 17px 0
  }

  button.left, .button.left {
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0
  }

  button.middle, .button.middle {
    border-left-color: #f4f9fb;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
  }

  button.right, .button.right {
    border-left-color: #f4f9fb;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0
  }

  button.left-gap, .button.left-gap {
    margin-left: 25px
  }

  button.right-gap, .button.right-gap {
    margin-right: 25px
  }

  button.button-no-margin, .button.button-no-margin {
    margin: 0
  }

  button:hover, .button:hover {
    background: #fff;
    border-color: #124;
    color: #000111;
    cursor: pointer
  }

  button.left:hover, .button.left:hover {
    border-right: 1px solid #124
  }

  button.middle:hover, .button.middle:hover {
    border-right: 1px solid #124
  }

  button:active, .button:active {
    border-color: #124;
    color: #4D90FE;
    -moz-box-shadow: inset 0 0 10px #D4D4D4;
    -webkit-box-shadow: inset 0 0 10px #D4D4D4;
    box-shadow: inset 0 0 10px #D4D4D4
  }

  button span.label, .button span.label {
    display: inline-block;
    float: left;
    text-align: center;
    width: 60px;
    overflow: hidden;
    color: #444;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
  }

  .button-inside-wider span.label {
    width: 64px
  }

  button span.label {
    line-height: 17px !important
  }

  button:active span.label, .button:active span.label {
    color: #4D90FE
  }

  button:hover .label, .button:hover .label {
    color: #333
  }

  button.action .label, .button.action .label {
    padding: 0 !important
  }

  button.action:active .label, .button.action:active .label {
    color: #333 !important
  }

  button span.icon, .button span.icon, span.icon {
    display: inline-block;
    margin: 0;
    float: left;
    width: 34px;
    max-width: 34px;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-color: #f4f9fb;
    -webkit-transition: background-image .2s linear;
    -moz-transition: background-image .2s linear;
    -o-transition: background-image .2s linear;
    transition: background-image .2s linear
  }

  .button span.icon-small {
    width: 35px;
    max-width: 35px
  }

  span.icon {
    background-color: #fafafa;
    line-height: 24px;
    height: 24px
  }

  .button span.icon-eye {
    width: 24px;
    max-width: 24px;
    line-height: 22px;
    height: 22px;
    background-color: #fafafa
  }

  .button-vertical span.icon {
    margin-left: 0;
    margin-top: 0
  }

  span.icon_book {
    background-position: -17px -250px
  }

  span.icon_contents {
    background-position: -87px -250px
  }

  span.icon_video {
    background-position: -157px -250px
  }

  span.icon_big_a {
    background-position: -227px -250px
  }

  span.icon_gear {
    background-position: -297px -250px
  }

  span.icon_arrow_left {
    background-position: -367px -250px
  }

  span.icon_arrow_right {
    background-position: -437px -250px
  }

  span.icon_arrow_up {
    background-position: -507px -250px
  }

  span.icon_arrow_down {
    background-position: -577px -250px
  }

  span.icon_arrow_up_strong {
    background-position: -647px -250px
  }

  span.icon_language {
    background-position: -717px -250px
  }

  span.icon_eye {
    background-position: -210px -320px
  }

  span.icon_book_small {
    background-position: -17px -255px
  }

  span.icon_video_small {
    background-position: -157px -255px
  }

  span.icon_reference {
    background-position: -0 -320px
  }

  span.icon_text {
    background-position: -70px -320px
  }

  span.icon_info {
    background-position: -140px -320px
  }

  button:hover span.icon, .button:hover span.icon {
    background-color: #fff
  }

  .button-eye:hover span.icon-eye {
    background-color: #fafafa
  }

  button:hover span.icon_book, .button:hover span.icon_book {
    background-position: -17px -285px
  }

  button:hover span.icon_contents, .button:hover span.icon_contents {
    background-position: -87px -285px
  }

  button:hover span.icon_video, .button:hover span.icon_video {
    background-position: -157px -285px
  }

  button:hover span.icon_big_a, .button:hover span.icon_big_a {
    background-position: -227px -285px
  }

  button:hover span.icon_gear, .button:hover span.icon_gear {
    background-position: -297px -285px
  }

  button:hover span.icon_arrow_left, .button:hover span.icon_arrow_left {
    background-position: -367px -285px
  }

  button:hover span.icon_arrow_right, .button:hover span.icon_arrow_right {
    background-position: -437px -285px
  }

  button:hover span.icon_arrow_up, .button:hover span.icon_arrow_up {
    background-position: -507px -285px
  }

  button:hover span.icon_arrow_down, .button:hover span.icon_arrow_down {
    background-position: -577px -285px
  }

  button:hover span.icon_arrow_up_strong .button:hover span.icon_arrow_up_strong {
    background-position: -647px -285px
  }

  button:hover span.icon_language, .button:hover span.icon_language {
    background-position: -717px -285px
  }

  button:hover span.icon_eye, .button:hover span.icon_eye {
    background-position: -210px -355px
  }

  button:hover span.icon_book_small, .button:hover span.icon_book_small {
    background-position: -17px -290px
  }

  button:hover span.icon_video_small, .button:hover span.icon_video_small {
    background-position: -157px -290px
  }

  button:hover span.icon_reference, .button:hover span.icon_reference {
    background-position: -0 -355px
  }

  button:hover span.icon_text, .button:hover span.icon_text {
    background-position: -70px -355px
  }

  button:hover span.icon_info, .button:hover span.icon_info {
    background-position: -140px -355px
  }
}

li.highlight, span.highlight {
  background: #bde5f0;
  color: #000111;
}